<main class="login-page">

  <div class="login-form">
    <header>
      <h1>Login</h1>
      <p>Insira suas informações de login pra acessar a plataforma :)</p>
    </header>
    <form [formGroup]="login">

      <div class="input-box">
        <input formControlName="email" placeholder="Email">

        <div *ngIf="login.get('email')?.touched">
          <small class="error-message" *ngIf="login.get('email')?.errors?.['required']">
            Email obrigatório
          </small>
          <small class="error-message" *ngIf="login.get('email')?.errors?.['email']">
            Email inválido
          </small>
        </div>
      </div>

      <div class="input-box">
        <input formControlName="password" placeholder="Senha">

        <div *ngIf="login.get('password')?.touched">
          <small class="error-message" *ngIf="login.get('password')?.errors?.['required']">
            Senha obrigatória
          </small>
        </div>

      </div>

      <button type="submit" (click)="loginSubmit()">
        Entrar
      </button>
    </form>
  </div>

  <figure class="login-figure">
    <img src="https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148976750.jpg">
  </figure>

</main>
