<main class="login-page">

  <div class="login-form">
    <header>
      <h1>Login</h1>
      <p>Insira suas informações de login pra acessar a plataforma :)</p>
    </header>
    <form [formGroup]="login">

      <div class="input-box">
        <input formControlName="email" placeholder="Email">

        <div *ngIf="login.get('email')?.touched">
          <small class="error-message" *ngIf="login.get('email')?.errors?.['required']">
            Email obrigatório
          </small>
          <small class="error-message" *ngIf="login.get('email')?.errors?.['email']">
            Email inválido
          </small>
        </div>
      </div>

      <div class="input-box">
        <input formControlName="password" placeholder="Senha">

        <div *ngIf="login.get('password')?.touched">
          <small class="error-message" *ngIf="login.get('password')?.errors?.['required']">
            Senha obrigatória
          </small>
        </div>

      </div>

      <button type="submit" (click)="loginSubmit()">
        Entrar
      </button>
    </form>
  </div>

  <figure class="login-figure">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7800898c-4551-4a81-a4c7-4e21132a6da1/dbssb1s-2949e293-a2a1-4e65-953e-7d4000379d48.jpg/v1/fill/w_1024,h_430,q_75,strp/red_dragon_by_manzanedo_dbssb1s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDMwIiwicGF0aCI6IlwvZlwvNzgwMDg5OGMtNDU1MS00YTgxLWE0YzctNGUyMTEzMmE2ZGExXC9kYnNzYjFzLTI5NDllMjkzLWEyYTEtNGU2NS05NTNlLTdkNDAwMDM3OWQ0OC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5PU8aAhCCmsohwKjz324b5MmYDJKE_KmDVzT4eJHFxs">
  </figure>

</main>
